@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<FountainContext.Data.Models.PureCountry> Model_Country = ViewBag.Country;
    //IEnumerable<DolphinContext.Data.Models.DolState> Model_State = ViewBag.state;
    //IEnumerable<DolphinContext.Data.Models.DolUser> Model_engineer = ViewBag.engineer;
    //IEnumerable<DolphinContext.Data.Models.DolBrand> Model_Brand = ViewBag.Brand;
    //IEnumerable<DolphinContext.Data.Models.DolCompany> Model_custom = ViewBag.custom;
}


<div data-widget-group="group1">

    <div class="row">

        <div class="panel panel-default" data-widget='{"draggable": "false"}'>
            <div class="panel-heading">
                <h2>@ViewBag.Message</h2>
                <div class="panel-ctrls"
                     data-actions-container=""
                     data-action-collapse='{"target": ".panel-body"}'
                     data-action-expand=''
                     data-action-colorpicker=''>
                </div>
            </div>
            <div class="panel-editbox" data-widget-controls=""></div>
            <div class="panel-body">
                <form class="grid-form" action="/Fountain/create_account" method="post" id="validate-form" data-parsley-validate enctype="multipart/form-data">
                    <fieldset>
                        <legend>Account Opening</legend>
                        <div data-row-span="4">
                            <div data-field-span="1">
                                @*<label>Branch Name</label>
            <input type="text" autofocus>*@

                              </div>
                            <div data-field-span="2">
                                @*<label>Branch Name</label>
                                <input type="text" autofocus>*@

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Image Upload</label>
                                    <div class="col-sm-4">
                                        <div class="fileinput fileinput-new" style="width: 100%;" data-provides="fileinput">
                                            <div class="fileinput-preview thumbnail mb20" data-trigger="fileinput" style="width: 100%; height: 150px;"></div>
                                            <div>
                                                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="UserImg"></span>

                                            </div>
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                            <div data-field-span="1">
                                @*<label>Branch Name</label>
            <input type="text" autofocus>*@

                            </div>
                        </div>
                    </fieldset>
                    <br><br>
                    <fieldset>
                        <legend>Personal Information</legend>
                        <div data-row-span="4">
                            <div data-field-span="1">
                                <label>Title</label>
                                <label><input type="radio" name="NameTitle"> Mr.</label> &nbsp;
                                <label><input type="radio" name="NameTitle"> Mrs.</label> &nbsp;
                                <label><input type="radio" name="NameTitle"> Ms.</label>
                            </div>
                            <div data-field-span="1">
                                <label>First Name</label>
                                <input type="text" name="FirstName" required>
                            </div>
                            <div data-field-span="1">
                                <label>Middle Name.(if any)</label>
                                <input type="text" name="MiddleName">
                            </div>
                            <div data-field-span="1">
                                <label>Last Name</label>
                                <input type="text" name="LastName" required>
                            </div>
                        </div>
                        <div data-row-span="4">
                            <div data-field-span="1">
                                <label>Date of birth</label>
                                <input type="text" id="datepicker" name="DOB" required style="font-size:13px;">
                            </div>
                            <div data-field-span="1">
                                <label>Mobile No.</label>
                                <input type="number" name="PhoneNos1" required style="border:0px; width:100%;">
                            </div>
                            <div data-field-span="1">
                                <label>Mobile No. 2</label>
                                <input type="number" name="PhoneNos2" required style="border:0px; width:100%;">
                            </div>
                           
                            <div data-field-span="1">
                                <label>Nationality</label>
                                <select name="Nationality" required style="font-size:13px;border:0px;">
                                    <option value="">Select</option>
                                    @foreach (var n in Model_Country)
                                    {
                                        <option value="@n.Countrycode">@n.Countryname</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div data-row-span="4">
                            <div data-field-span="1">
                                <label>State Of Origin</label>
                                <select name="Nationality" required style="font-size:13px;border:0px;">
                                    <option value="">Select</option>
                                    @foreach (var n in Model_Country)
                                    {
                                        <option value="@n.Countrycode">@n.Countryname</option>
                                    }
                                </select>
                            </div>
                            <div data-field-span="1">
                                <label>Local Government Area</label>
                                <input type="text" name="LGA">
                            </div>
                            <div data-field-span="2" data-field-error="Please enter a valid email address">
                                <label>E-mail</label>
                                <input type="email" name="UserEmail">
                            </div>
                           


                        </div>
                   
                        <br>
                        <br>
                        <fieldset>
                            <legend>Contact Details</legend>
                            <div data-row-span="1">
                                <div data-field-span="1">
                                    <label>Address</label>
                                    <input type="text">
                                </div>
                               
                            </div>
                            <div data-row-span="4">
                                <div data-field-span="2">
                                    <label>Area and landmark</label>
                                    <input type="text">
                                </div>
                                <div data-field-span="2">
                                    <label>Local Government Area</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div data-row-span="4">
                                <div data-field-span="2">
                                    <label>City</label>
                                    <input type="text">
                                </div>
                                <div data-field-span="2">
                                    <label>Country</label>
                                    <select name="Nationality" required style="font-size:13px;border:0px;">
                                        <option value="">Select</option>
                                        @foreach (var n in Model_Country)
                                        {
                                            <option value="@n.Countrycode">@n.Countryname</option>
                                        }
                                    </select>
                                </div>
                               
                                
                            </div>
                        </fieldset>
                    </fieldset>
                    <br><br><br>
                    <fieldset>
                        <legend>Means of Identification</legend>
                        <div data-row-span="4">
                            <div data-field-span="3">
                                <label>Valid Means of ID</label>
                                <label>National ID Card&nbsp;&nbsp;<input type="radio" name="NameTitle">&nbsp;&nbsp;&nbsp;&nbsp;National Driver's License&nbsp;&nbsp;<input type="radio" name="NameTitle">&nbsp;&nbsp;&nbsp;&nbsp;International Passport&nbsp;&nbsp;<input type="radio" name="NameTitle">&nbsp;&nbsp;&nbsp;&nbsp;INEC Voter Card&nbsp;&nbsp;<input type="radio" name="NameTitle"> &nbsp;&nbsp; If other</label>
                                <label></label> &nbsp;
                               
                            </div>
                            <div data-field-span="1">
                                <label>Specify</label>
                                <input type="text" name="otherID">
                            </div>
                        </div>
                        <div data-row-span="4">
                            <div data-field-span="2">
                                <label>Identification Number</label>
                                <input type="text" name="IDNos" required>
                            </div>
                            <div data-field-span="1">
                                <label>Issue Date</label>
                                <input type="text" id="datepicker1" name="IssueDate" required style="font-size:13px;">
                                
                            </div>
                            <div data-field-span="1">
                                <label>Expiry Date</label>
                                <input type="text" id="datepicker2" name="ExpiryDate" required style="font-size:13px;">
                            </div>
                      
                        </div>
                        
                       
                    </fieldset>
                    <br><br>
                   
           
                    <br>
                    <fieldset>
                        <legend>Occupation Details</legend>
                        <div data-row-span="1">
                            <div data-field-span="1">
                                <label>Occupation</label>

                                <label>>Non-executive&nbsp;&nbsp;<input type="radio" name="NameTitle">&nbsp;&nbsp;&nbsp;&nbsp;Self Employed&nbsp;&nbsp;<input type="radio" name="NameTitle">&nbsp;&nbsp;&nbsp;&nbsp;Trading&nbsp;&nbsp;<input type="radio" name="NameTitle">&nbsp;&nbsp;&nbsp;&nbsp;Retired &nbsp;&nbsp;<input type="radio" name="NameTitle">&nbsp;&nbsp;&nbsp;&nbsp;Student &nbsp;&nbsp;<input type="radio" name="NameTitle"> &nbsp;&nbsp;&nbsp;&nbsp;Others &nbsp;&nbsp;<input type="radio" name="NameTitle"></label>
             
                            </div>
                        </div>
                        <div data-row-span="1">
                            <div data-field-span="1">
                                <label>Job Title</label>
                                <input type="text">
                            </div>
                        </div>
                        <div data-row-span="2">
                            <div data-field-span="1">
                                <label>Department</label>
                                <input type="text">
                            </div>
                            <div data-field-span="1">
                                <label>Nature of business</label>
                                <input type="text">
                            </div>
                        </div>
                        <div data-row-span="2">
                            <div data-field-span="1">
                                <label>Education</label>
                                <label><input type="radio"> Under graduate</label> &nbsp;
                                <label><input type="radio"> Graduate</label> &nbsp;
                                <label><input type="radio"> Others</label>
                            </div>
                            <div data-field-span="1">
                                <label>Monthly Income</label>
                             
                                <label><input type="radio"> Less than #10,000</label> &nbsp;
                                <label><input type="radio"> #10,000+</label>
                            </div>
                        </div>
                        <div data-row-span="2">
                            <div data-field-span="1">
                                <label>Maritial Status</label>
                                <label><input type="radio"> Married</label> &nbsp;
                                <label><input type="radio"> Single</label>
                            </div>
                            <div data-field-span="1">
                                <label>Spouse name</label>
                                <input type="text">
                            </div>
                        </div>
                        <br>
                        <fieldset>
                            <legend>Other existing bank accounts, if any</legend>
                            <div data-row-span="2">
                                <div data-field-span="1">
                                    <label>Name of the Bank / branch</label>
                                    <input type="text">
                                </div>
                                <div data-field-span="1">
                                    <label>Account Number</label>
                                    <input type="text">
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>
                    <br><br>

                    <br>
                    <br>
                    <fieldset>
                        <legend>Next of Kin</legend>
                        <div data-row-span="4">
                            <div data-field-span="1">
                                <label>First Name</label>
                                <input type="text">
                            </div>
                            <div data-field-span="1">
                                <label>Middle Name</label>
                                <input type="text">
                            </div>
                            <div data-field-span="1">
                                <label>Last Name</label>
                                <input type="text">
                            </div>
                            <div data-field-span="1">
                                <label>Phone Nunmber</label>
                                <input type="number" required style="border:0px; width:100%;">
                            </div>
                        </div>
                        <div data-row-span="4">
                            <div data-field-span="1">
                                <label>Relationship</label>
                                <input type="text">
                            </div>
                            <div data-field-span="2">
                                <label>Address</label>
                                <input type="text">
                            </div>
                            <div data-field-span="1">
                                <label>Local Government Area</label>
                                <input type="text">
                            </div>
                        </div>
                        <div data-row-span="4">
                            <div data-field-span="2">
                                <label>City</label>
                                <input type="text">
                            </div>
                            <div data-field-span="2">
                                <label>Country</label>
                                <select name="Nationality" required style="font-size:9px;border:0px;">
                                    <option value="">Select Country</option>
                                    @foreach (var n in Model_Country)
                                    {
                                        <option value="@n.Countrycode">@n.Countryname</option>
                                    }
                                </select>
                            </div>


                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Account Details</legend>
                        <div data-row-span="4">
                            <div data-field-span="3">
                                <label>Customer Name</label>
                                <input type="text">
                            </div>
                            @*<div data-field-span="1">
                                <label>Account No.</label>
                                <input type="text">
                            </div>*@
                            <div data-field-span="1">
                                <label>Bank Verification Number</label>
                                <input type="number" style="border:0px; width:100%;">
                            </div>
                        </div>
                        <div data-row-span="1">
                            <div data-field-span="1">
                                <label>Introducer's signature</label>
                                <textarea></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <br><br>
                    <fieldset>
                        <legend>Reason for Account opening</legend>
                        <div data-row-span="2">
                            <div data-field-span="1">
                                <label>Please specify</label>
                                <input type="text" name="ReasonForAccount" required>
                            </div>
                        </div>
                    </fieldset>
                    <br><br>
                    <fieldset>
                        <legend>Terms And Conditions</legend>
                        <div data-row-span="1">
                            <div data-field-span="1">
                                <label></label>
                                <label><input type="checkbox" required> I/We confirm having read and understood the account rules of The Banking Corporation Limited ('the Bank'), and hereby agree to be bound by the terms and conditions and amendments governing the account(s) issued by the Bank from time-to-time.</label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="clearfix pt20">
                        <div class="pull-right">
                            <button class="btn-primary btn">Submit Form</button>
                            <button class="btn-default btn">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>



            <script>
                // See Docs
                window.ParsleyConfig = {
                    successClass: 'has-success'
                    , errorClass: 'has-error'
                    , errorElem: '<span></span>'
                    , errorsWrapper: '<span class="help-block"></span>'
                    , errorTemplate: "<div></div>"
                    , classHandler: function (el) {
                        return el.$element.closest(".form-group");
                    }
                };
            </script>
